
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    width: 100vw;
    max-width: 100vw;
    animation: fadeIn 3s;
}

body {
    /* Photo by Azim Islam from Pexels
    https://www.pexels.com/photo/bokeh-of-lights-photography-1210276/ */
    background-image: url("../public/background-image.jpg");
    background-position: right;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

i.fas {
    width: 10px;
}

button, a {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

main {
    color: #CEF2ED;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
