.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.transitioningIn {
    animation: moveIn 1s;
}

.transitioningOut {
    animation: moveOut 1s;
}

.reverseTransitionIn {
    animation: reverseMoveIn 1s;
}

.reverseTransitionOut {
    animation: reverseMoveOut 1s;
}

@keyframes moveIn {
    from {bottom: -100vh;}
    to {bottom: 0;}
}

@keyframes moveOut {
    from {top: 0vh;}
    to {top: -100vh;}
}

@keyframes reverseMoveIn {
    from {bottom: 100vh;}
    to {bottom: 0;}
}

@keyframes reverseMoveOut {
    from {top: 0;}
    to {top: 100vh;}
}