
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 1.5rem;
}

.arrowIcon {
    color: inherit;
    opacity: .9;
    font-size: 75px;
}

.iconLinks {
    justify-self: auto;
    margin: 0 10px;
    margin-bottom: 1rem;
}

.arrowIcon:hover,
.arrowIcon:focus,
.arrowIcon:active {
    color: #69787A;
    text-shadow: 2px 2px 6px #7A4B63;
}
