.info {
    line-height: 1.5;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px #69787A, -2px -2px 2px #69787A, -2px 2px 2px #69787A, 2px -2px 2px #69787A;
    max-width: 50vw;
}


@media (max-width: 600px) {
    .info {
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        max-width: 100vw;
    }
}